# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build output
dist/
web-build/
*.tgz

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro/
*.bundle

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env*
.env.local

# TypeScript
*.tsbuildinfo
